:root {
    --m-0: 5px;
    --m-1: 15px;
    --p-0: 5px;
    --p-1: 15px;
    --bg-black-transparent: rgba(100, 100, 100, 0.5);
    --bg-white-transparent: rgba(255, 255, 255, 0.5);
}

/* Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* Regole Layout */
body {
    font-family: sans-serif;
    font-size: 14px;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.webcam-wrapper {
    position: relative;
    flex-grow: 1;
}

.container {
    max-width: 1750px;
    margin-inline: auto;
}

.row {
    display: flex;
}

/* Webcam Wrapper */
.webcam-wrapper .row {
    flex-wrap: wrap;
    gap: var(--m-1) var(--m-0);
    padding-top: calc(var(--p-1) * 5);
}

.webcam-wrapper .col {
    flex-basis: calc(calc(100% - var(--m-0) * 6) / 7);
}

.webcam-wrapper__view {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--p-0);
}

.webcam-wrapper__view .view__btn {
    padding: var(--p-0);
    border-radius: 4px;
    background-color: var(--bg-white-transparent);
    color: #fff;
}

.webcam-wrapper__view .view__btn:first-child i {
    margin-right: var(--m-0);
}

/* Webcam */
.webcam {
    position: relative;
}

.webcam img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.webcam .mic--muted {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: var(--bg-black-transparent);
    color: #fff;
}


/* Menu Bottom */
.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
}

.main-nav .btn__wrapper:first-child {
    padding-left: var(--p-1);
}

.btn__wrapper {
    display: flex;
    padding: var(--p-1) 0;
    column-gap: calc(var(--m-1) * 1.5);
}

.btn__wrapper .btn {
    cursor: pointer;
}

.main-nav .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__ico-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: var(--p-1);
}

.btn__ico-text i {
    font-size: 25px;
    margin-bottom: var(--m-0);
}

.btn__ico-text--share i {
    color: green;
}

.end-meeting.btn__wrapper {
    background-color: #4A4A4A;
    color: #f00;
}

.btn__ico-text--end {
    padding-inline: var(--p-1);
}